streaming/src/main/resources/streaming.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/demo/soap"
           targetNamespace="http://example.com/demo/soap"
           elementFormDefault="qualified">

    <xs:complexType name="soapUser">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="soapMusic">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="artist" type="xs:string"/>
            <xs:element name="genre" type="xs:string"/>
            <xs:element name="durationSeconds" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="soapPlaylist">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="ownerId" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="musicsIds" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="listAllUsersRequest"><xs:complexType/></xs:element>
    <xs:element name="listAllUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users" type="tns:soapUser" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listAllMusicsRequest"><xs:complexType/></xs:element>
    <xs:element name="listAllMusicsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="musics" type="tns:soapMusic" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listPlaylistsByUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listPlaylistsByUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="playlists" type="tns:soapPlaylist" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listMusicsFromPlaylistRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="playlistId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listMusicsFromPlaylistResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="musics" type="tns:soapMusic" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listPlaylistsByMusicRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="musicId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listPlaylistsByMusicResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="playlists" type="tns:soapPlaylist" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>